.idea/
.vscode/
.cache/

*~
.*~
.*.swp

build/
build-*/
tests/output/
tests/corpus/space_tokenizer/????????????????????????????????????????
tests/corpus/delim_tokenizer/????????????????????????????????????????

cmake-build-debug/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CTestTestfile.cmake
Makefile
cmake_install.cmake
Testing/
